---
layout: base.liquid
---
<article>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    {{ collections.all | eleventyNavigationBreadcrumb: eleventyNavigation.key | eleventyNavigationToHtml }}
  </nav>
  <h1>{{ title }}</h1>
  {{ content }}
</article>
