body {
  font-family: sans-serif;
  line-height: 1.25;
}

/* Inline code is <code>1+2</code>. Code blocks are <pre><code>1+2</code></pre> */
pre,
code,
kbd {
  padding: 0.2em 0.4em;
  background: rgba(175, 184, 193, 0.2);
  margin: 0;
  font-size: 85%;
  white-space: pre;
  width: max-content;
  max-width: calc(100% - 8px);
  overflow-x: auto;
}

code {
  border-radius: 6px;
}

pre code {
  padding: unset;
  background: unset;
  border: unset;
  margin: unset;
  font-size: unset;
  white-space: unset;
}

/* Header layout */

header {
  background: rgb(20 20 20 / 0.2);
  margin-bottom: 0.8em;
}

header,
header nav {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

/* Main layout */

body {
  margin: 0;
  padding: 0;
}

main {
  padding-inline: 8px;
}

/* Footer layout */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  padding: 8px;
  background: rgb(20 20 20 / 0.2);
}

/* Breadcrumbs */

.breadcrumb ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.breadcrumb li:nth-child(n + 2):before {
  content: "▸";
  padding-left: 0.2em;
}

h1 {
  margin-top: 0;
}
